.btn-container{
    width: 600px;
    margin: 0 auto;
}

.act-btn{
        width: 80%;
        background-color: white;
        height: 60px;
        font-size: 30px;
}

.num-btn{
    width: 26.7%;
    background-color: white;
    height: 60px;
    font-size: 30px;
    flex-wrap: wrap;
}
